<!DOCTYPE html>
<html lang="en">
  <%-include("./partialviews/header.ejs")%>
  <body>
    <%-include("./partialviews/navigation.ejs")%>
    <div class="form-container">
      <p>
        Airplane food is a blog about food that you wouldn't expect to find at
        42,000fl. I adapt these recipes so that I can effortlessly prepare them
        in a small galley.
      </p>
    </div>
  </body>
</html>
