<% function circularText(txt, radius) { txt = txt.split(""); console.log(txt);
const circledTextDiv = document.createElement("div"); var deg = 180 /
txt.length, origin = 275; txt.forEach((letter) => { letter = `
<p
  style="height:${radius}px;position:absolute;transform:rotate(${origin}deg);transform-origin:0 100%"
>
  ${letter}
</p>
`; circledTextDiv.innerHTML += letter; origin += deg; }); return circledTextDiv;
} %>
