* {
  font-family: "Noto Sans Mono", monospace, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: #eeded3;
  color: #091249;
  font-weight: 300;
}

.form-container {
  padding: 5em;
  z-index: 1;
}

.entries-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 4em;
  padding: 3em;
  justify-items: center;
}

hr {
  padding: 0;
  border-top: 4px solid #091249;
}

/* Header Styles */
.logo {
  display: grid;
  grid-template-areas:
    ". mobileicon icon"
    "a b c"
    ". d .";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-content: center;
  padding-top: 1em;
  height: 15em;
}

.logo > h2 {
  grid-area: d;
  display: grid;
  justify-self: center;
  font-weight: 600;
  width: 370px;
  text-align: center;
}

.form-container > h3,
.review-container > h3 {
  font-weight: 600;
}

.logo > .pasta > img {
  width: 90%;
  text-align: center;
}

.pasta {
  margin-left: auto;
  margin-right: auto;
  grid-area: b;
  width: 370px;
}
.name {
  text-align: center;
  margin: 0;
  padding-top: 1em;
}

/* Side Navigation Styles */
.show-nav {
  cursor: pointer;
  grid-area: icon;
  border: none;
  display: grid;
  justify-content: right;
  padding-right: 6em;
}

.side-nav {
  display: none;
}
.side-nav-show {
  background-color: #091249;
}
.side-nav-show a h3 {
  color: #eeded3;
  background-color: #091249;
}

.side-nav-show a {
  background-color: #091249;
  padding-left: 1em;
}

.close-side-nav {
  background: #091249;
  color: #eeded3;
  border: none;
  margin-right: 2em;
  cursor: pointer;
}

.side-nav-show {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #091249;
  height: 100vh;
  width: 33%;
  z-index: 1000;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 75px 75px 75px 75px 75px;
  grid-auto-flow: column;
  justify-content: space-between;
}

/* Form Styles */
.form-container {
  display: grid;
  justify-content: normal;
  /* width: 75%; */
}

.review-container {
  display: grid;
  justify-content: center;
  text-align: center;
}

form {
  display: grid;
  padding: 1em;
  margin: 2rem auto 0 auto;
  max-width: 600px;
  padding: 1em;
}
form button {
  background: lightgrey;
  padding: 0.7em;
  width: 100%;
  border: 0;
  margin-top: 1em;
}

label {
  padding: 0.5em 0.5em 0.5em 0;
}

input,
textarea {
  padding: 0.7em;
  margin-bottom: 0.5rem;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #091249;
}

input:focus,
textarea:focus {
  outline: none;
}

form button {
  background: #091249;
  color: #eeded3;
  border-radius: 25px;
}

.review-container > button {
  background: #091249;
  color: #eeded3;
  border-radius: 25px;
  justify-self: center;
  border: 0;
  width: 200px;
  padding: 0.75em;
  margin: 10px;
  cursor: pointer;
}

.form-container > h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.custom-file-upload {
  border: 1px solid #091249;
  background: #091249;
  color: #eeded3;
  border-radius: 25px;
  text-align: center;
  width: 30%;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.single-entry {
  display: grid;
  grid-template-rows: 200px 75px;
  grid-template-areas:
    "imgtitle"
    "author";
  justify-items: center;
}

.img-div {
  height: 175px;
  width: 175px;
  clip-path: circle();
  background: #091249;
  display: grid;
  z-index: 4;
  grid-area: imgtitle;
}

.review-img {
  height: 275px;
  width: 275px;
  clip-path: circle();
  background: #091249;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.entry-title {
  display: grid;
  z-index: 5;
  grid-area: imgtitle;
  width: 6.5rem;
  text-align: center;
  padding: 0.5em;
  margin-left: 9em;
  border-radius: 5px;
  transform: rotate(9deg);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  line-height: 25px;
}

.entry-title:hover {
  width: 7rem;
}

.entry-title > h3,
.entry-title {
  background: #091249;
  color: #eeded3;
}

.author {
  grid-area: author;
}

.modifications {
  display: none;
}

a,
a:hover {
  text-decoration: none;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .side-nav-show {
    width: 100%;
  }
  .entries-container {
    grid-template-columns: 1fr;
  }

  .show-nav {
    grid-area: mobileicon;
    justify-content: center;
    padding-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .side-nav-show {
    width: 100%;
  }
  .entries-container {
    grid-template-columns: 1fr 1fr;
  }
}
